<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet", href="css/style.css")
    title Document
  body
    div.wrapper
      header.header#header
        .container
          .logo.logogo
          nav.menu
            ul
              li lorem
              li.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                A ad alias aut commodi eos ex exercitationem expedita facere facilis,
                incidunt inventore iusto magnam molestiae non perferendis,
                quam quis ratione voluptates.
              li
                a(href="#") link
              li
              li
      footer.footer
        |
        |
        a(href="#") 1
        |
        |
        a(href="#") 2
        |
        |
        a(href="#") 3